body {
    background-image: linear-gradient(135deg, #FFFFFF 10%, #4CAF50 100%);
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
}

.box-form {
    margin: 0 auto;
    width: 70%;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.box-form .left {
    color: #FFFFFF;
    background-size: cover;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/682/248/50/sky-airplane-airline-airbus-wallpaper-preview.jpg");
    overflow: hidden;
}

.box-form .left .overlay {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: rgba(76, 175, 80, 0.678);
    overflow: hidden;
}

.box-form .left .overlay h1 {
    font-size: 160px;
    font-weight: 850;
    margin-top: 160px;
}

.box-form .right {
    padding: 40px;
    overflow: hidden;
}

.box-form .right h5 {
    font-size: 150px;
    line-height: 0;
}

.box-form .right p {
    font-size: 14px;
    color: #B0B3B9;
}

.box-form .right input {
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #B0B3B9;
}

.box-form .right .login-button {
    float: right;
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
    margin-top: 30px;
}